*{
    padding: 0%;
    margin: 0%;
}

:root{
    --corPrimaria: rgb(132, 0, 255);
    --branco: rgb(230, 230, 230);
    --preto: rgb(35, 35, 35);
    --orange: rgb(255, 131, 48);
}

body{
    background-color: var(--corPrimaria) ;
}
header{
    width: 100%;
    height: 90px;
    padding: 40px 0px;
    background-color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoImg{
    width: 120px;
    display: flex;
    margin-right: 0px;
}

header a{
    text-decoration: none;
    color: var(--branco);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

nav, #logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

main {
    width: 90%;
    border-radius: 10px;
    margin: 20px auto;
    padding: 40px;
    background-color: rgba(215, 215, 215, 0.964);
    box-shadow: 15px 15px 15px rgba(255, 134, 73, 0.447);
}

.direito{
    margin-right: 60px;
    gap: 20px;
}

.paginaAtual{
    background-color: var(--branco);
    padding: 3px;
    color: var(--corPrimaria);
    border-radius: 5px;
}